div.editpost
    -if (article.code)
    div.code.ib
        section.js
            div.title JAVASCRIPT
            textarea#javascript=article.code.js
        section.html
            div.title HTML
            textarea#html=article.code.html
        section.css
            div.title CSS
            textarea#css=article.code.css
    div.container.ib
      form.editpost(method="post")
        button.blue.save Save
        div.row
          input.title(type="text", name="title", id="editArticleTitle", value=article.title)
        div.row
          input.tags(type="text", name="tags", id="editTags", value=tags)
        iframe(width="100%", height="100%", id="main", name="result") 
- scripts.push('/js/editqp.js')
