div.viewpost
  div.article
    h1= title
    div.created_at Created at -  #{article.created_at}
    div.created_at Actions - 
        a(href='/blog/' + article._id + '/edit') [EDIT] 
        a(href='/blog/' + article._id + '/remove') [DELETE]  
    div.tags Tags -  
      - each tag in article.tags
        span.tag= tag.trim()
    div.body
        - if (article.code)
            iframe#content
            script
                var qp_css = !{JSON.stringify('<style type=\"text/css\">' + article.code.css + '</style>')};
                var qp_html = !{JSON.stringify(article.code.html)};
                var qp_js = '<script type=\"text/javascript\">' + !{JSON.stringify(article.code.js)} + '</scr' + 'ipt>';
                content.document.close();
                content.document.write(qp_css);
                content.document.write(qp_html);
                content.document.write(qp_js);
                content.document.close();
        !=article.body
  div.commentSection
    div.commentHeading= "Comments:"
  - each comment in article.comments
    div.message
      div.person= comment.person
      div.comment= comment.comment
  div.article
    form(method="post", action="/blog/addComment")
      input(type="hidden", name="_id", value=article._id.toHexString())
      div.row
        span.label Author&nbsp;
        input.commentAuthor(type="text", name="person", id="addCommentPerson")
      div.row
        span.label Comment&nbsp;
        textarea.commentText(name="comment", rows=5, id="addCommentComment")
      div#editArticleSubmit
        input.button(type="submit", value="Send")
- scripts.push('/js/viewpost.js');
