div.viewpost
  div.article
    h1= title
    div.created_at Created at -  #{article.created_at}
    div.created_at Actions - 
        a(href='/blog/' + article._id + '/remove') [DELETE]  
        a(href='/blog/' + article._id + '/edit') [EDIT] 
    div.tags Tags -  
      - each tag in article.tags
        span.tag= tag.trim()
    div.body!= article.body
  div.commentSection
    div.commentHeading= "Comments:"
  - each comment in article.comments
    div.message
      div.person= comment.person
      div.comment= comment.comment
  div.article
    form(method="post", action="/blog/addComment")
      input(type="hidden", name="_id", value=article._id.toHexString())
      div.row
        span.label Author&nbsp;
        input.commentAuthor(type="text", name="person", id="addCommentPerson")
      div.row
        span.label Comment&nbsp;
        textarea.commentText(name="comment", rows=5, id="addCommentComment")
      div#editArticleSubmit
        input.button(type="submit", value="Send")
- scripts.push('/js/viewpost.js');
